@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
body {
  color: #676A6A;
  font-family: "M PLUS 1p", sans-serif;
  line-height: 1;
  background: white; }

* {
  margin: 0;
  padding: 0; }

p {
  margin: 5px 0 10px 0; }

.container {
  max-width: 1070px;
  margin: 0 auto; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 5px;
  padding-right: 5px; }
  .header .header__logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center; }
    .header .header__logo .header__img {
      max-height: 40px; }
    .header .header__logo .header__h2 {
      color: #000;
      font-size: 18px;
      font-family: 'M PLUS 1p', Medium;
      margin-left: 1rem; }
  .header nav {
    display: flex;
    align-items: center; }
  .header .header__nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: auto; }
    .header .header__nav .header__nav-item {
      margin-left: 1.7rem;
      font-size: 18px;
      color: #9CA0CB;
      position: relative; }
      .header .header__nav .header__nav-item a {
        text-decoration: none;
        color: #9CA0CB; }
      .header .header__nav .header__nav-item a:after {
        left: 0;
        width: 0;
        right: 0;
        height: 3px;
        content: '';
        margin: 0 auto;
        max-width: 20px;
        position: absolute;
        top: calc(100% + 15px);
        background-color: #08B2DC;
        transition: width 0.3s cubic-bezier(0.5, 0.18, 0, 0.88) 0.15s; }
    .header .header__nav .header__nav-item:first-child {
      margin-left: 0; }
    .header .header__nav .active {
      color: #08B2DC !important; }
      .header .header__nav .active a::after {
        width: 100%; }
    .header .header__nav .header__nav-item:hover {
      color: #08B2DC;
      cursor: pointer; }
      .header .header__nav .header__nav-item:hover a::after {
        width: 100%; }

.btn-primary {
  display: block;
  background: #08B2DC;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border: 1px solid #08B2DC;
  border-radius: 10px;
  padding: 10px 0;
  width: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: white;
  min-width: 200px;
  text-align: center;
  transition: all .3s ease-in-out;
  margin-bottom: 20px; }

.btn-primary:hover {
  background: white;
  color: #000022; }

.btn-secondary {
  display: block;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border: 1px solid #08B2DC;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 0;
  width: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #000022;
  min-width: 200px;
  text-align: center;
  transition: all .3s ease-in-out;
  margin-bottom: 20px; }

.btn-secondary:hover {
  background: #08B2DC;
  color: white; }

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 20px; }
  .btn-group :first-child {
    margin-right: 55px; }

.intro {
  background: linear-gradient(0deg, rgba(135, 135, 135, 0.1), rgba(135, 135, 135, 0.1)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  overflow: hidden;
  position: relative; }
  .intro .intro__title {
    padding: 190px 0 180px;
    max-width: 70%;
    z-index: 10; }
    .intro .intro__title span {
      color: #08B2DC; }
    .intro .intro__title h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      color: #3A535A;
      margin-top: 30px; }
    .intro .intro__title h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 74px;
      color: #3A535A;
      margin-top: 10px; }
    .intro .intro__title h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      margin-top: 10px; }
  .intro .polygon:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -60px;
    right: 2%;
    width: 550px;
    height: 550px;
    background: url("../img/Polygon.svg") no-repeat;
    background-size: 650px 650px;
    background-position: center;
    -webkit-animation: rotation 50s infinite linear; }
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
.col-60 {
  max-width: 60%; }

.col-30 {
  width: 30%; }

.col-50 {
  max-width: 50%; }

.presentation {
  display: flex;
  flex-direction: row;
  padding-top: 69px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .presentation .presentation__cards {
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .presentation .presentation__cards .presentation__cards__item {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
      align-items: center;
      padding: 16px 28px;
      transition: all .3s ease-in-out; }
      .presentation .presentation__cards .presentation__cards__item img {
        margin-right: 23px; }
    .presentation .presentation__cards .presentation__cards__item:hover {
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3); }

.title_vertical {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  color: #3A535A;
  padding-left: 23px;
  margin-bottom: 50px;
  position: relative; }

.title_vertical:before {
  left: 0;
  width: 4px;
  height: 100%;
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 0;
  background-color: #08B2DC; }

.title_vertical-small {
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #3A535A;
  padding-left: 15px;
  margin-bottom: 15px;
  position: relative; }

.title_vertical-small:before {
  left: 0;
  width: 4px;
  height: 100%;
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 0;
  background-color: #08B2DC; }

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #676A6A; }

.title_horizontal {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 74px;
  color: #3A535A;
  margin-bottom: 30px;
  position: relative; }
  .title_horizontal span {
    color: #08B2DC; }

.title_horizontal:after {
  left: 0;
  width: 200px;
  height: 3px;
  content: '';
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  background-color: #3A535A; }

.title_horizontal:before {
  bottom: -10px;
  left: 210px;
  right: auto;
  width: 30%;
  color: #08B2DC;
  height: 2px;
  display: table;
  content: "....";
  max-width: 34px;
  font-size: 24px;
  line-height: 2px;
  position: absolute;
  letter-spacing: 5px;
  vertical-align: middle; }

.pre-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  color: #909090;
  margin-top: 69px; }

.detail-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; }

.facts {
  background: #8F9CA8 url("../img/factsbg.png") repeat local 50% 50%;
  margin-top: 60px; }
  .facts .facts__tab {
    display: flex;
    justify-content: space-between;
    padding: 64px 0; }
    .facts .facts__tab .facts__left {
      max-width: 60%; }
    .facts .facts__tab .facts__right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      .facts .facts__tab .facts__right .facts__right-item {
        margin-left: 25px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        .facts .facts__tab .facts__right .facts__right-item h4 {
          font-style: normal;
          font-weight: 800;
          font-size: 50px;
          color: #08B2DC; }
        .facts .facts__tab .facts__right .facts__right-item span {
          font-size: 20px; }
      .facts .facts__tab .facts__right .facts__right-item:first-child {
        margin-left: 0; }
      .facts .facts__tab .facts__right .facts__right-item__desc {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #3A535A; }

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #595959; }

.work-proc {
  background-color: #3E3E44; }
  .work-proc .work-proc__left-tab {
    padding: 78px 36px; }
    .work-proc .work-proc__left-tab h3 {
      color: #FFFFFF; }
  .work-proc .work-proc__text-detail {
    color: #E0E0E0; }
  .work-proc .work-proc__btn {
    margin-top: 54px;
    max-width: 200px; }
  .work-proc .work-proc__img {
    height: 100%; }

.dark-tab {
  background-color: #3E3E44; }

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 38px 40px;
  transition: 0.3s;
  color: #B9B9B9;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; }

/* Change background color of buttons on hover */
/* Create an active/current tablink class */
.tab button.active {
  color: #FFFFFF; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0;
  border-top: none; }

.tabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */ }

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.circle-progress {
  margin-top: 60px;
  background: #8F9CA8 url("../img/factsbg.png") repeat local 50% 50%;
  padding: 66px 0; }

.circle-progress__top {
  background-color: #676A6A; }

.circle-progress__title {
  text-align: center;
  color: #FFFFFF;
  padding: 65px 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 68px; }

.circle-progress__bottom {
  background-color: #3E3E44; }

.circle-progress__bottom__title {
  text-align: center;
  color: #B9B9B9;
  padding: 46px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; }

.circle-progress__card-group {
  display: flex;
  color: #FFFFFF;
  justify-content: space-between;
  margin: 0 40px; }

.circle-progress__card__circle {
  position: relative;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0; }
  .circle-progress__card__circle span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px; }

.circle-progress__progress-ring {
  position: absolute;
  top: 0; }

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%; }

.circle-progress__card {
  width: 140px; }

.circle-progress__text-detail {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  vertical-align: bottom;
  margin: 20px 0; }

.tab-last-works {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: white; }

.tab-last-works button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 38px 40px;
  transition: 0.3s;
  color: #83838C;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; }

/* Change background color of buttons on hover */
.tab-last-works button:hover {
  color: #002240; }

/* Create an active/current tablink class */
.tab-last-works button.active {
  color: #002240; }

.content-last-works {
  display: none;
  padding: 0;
  border-top: none; }

.last-works__cards-group {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.last-works__card {
  width: 200px;
  height: 200px;
  margin: 30px 10px;
  border: 1px solid #08B2DC;
  box-sizing: border-box;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all .3s ease-in-out; }
  .last-works__card .last-works__details {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px; }
    .last-works__card .last-works__details a {
      color: #08B2DC; }
  .last-works__card img {
    min-height: 200px;
    min-width: 200px; }

.last-works__card:hover .last-works__details {
  display: flex; }

.last-works__card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.last-works__card:hover img {
  display: none; }

.btn-group__center {
  display: flex;
  justify-content: center;
  padding-bottom: 30px; }
  .btn-group__center .btn-secondary {
    max-width: 300px; }

.contact-me {
  background-color: #F2F2F2;
  margin-top: 10px; }

.contact-me__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.input-field {
  margin-right: 30px; }

.input-field label {
  color: #999; }

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
  color: #08B2DC; }

.input-field input[type=text]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid #08B2DC;
  box-shadow: 0 1px 0 0 #08B2DC; }

.input-field input[type=text].valid, .input-field input[type=password].valid {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.input-field input[type=text].invalid, .input-field input[type=password].invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336; }

.input-field .prefix.active {
  color: #08B2DC; }

.input-field textarea:focus + label {
  color: #08B2DC; }

.input-field textarea:focus {
  border-bottom: 1px solid #08B2DC;
  box-shadow: 0 1px 0 0 #08B2DC; }

.input-field textarea.valid {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.input-field textarea.invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336; }

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s; }

.contact-me__form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 40px; }

textarea {
  line-height: normal;
  overflow-y: hidden;
  padding: .8rem 0 .8rem 0;
  resize: none;
  min-height: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 4rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s; }

.w4 {
  width: 4rem;
  margin: 20px 0; }

.contact-me__map {
  height: 100%;
  width: 26rem; }

footer {
  background-color: #3E3E44;
  color: white; }
  footer p {
    color: white; }
  footer a {
    color: white; }

.footer {
  padding-top: 44px;
  padding-bottom: 26px; }

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer__top > div {
  width: 33%;
  margin: 0 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.footer__top > div:first-child {
  margin-left: 0; }

.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footer__logo img {
    margin-right: 8px; }

.footer__detail {
  margin-top: 45px; }

.footer__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 66px; }

.footer__list > li {
  display: flex;
  align-items: center;
  margin-bottom: 15px; }

.footer__icon {
  margin-right: 5px; }

strong {
  color: #08B2DC; }

.footer__copy {
  border-top: 1px #ffffff solid;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 22px; }

.footer__social {
  list-style: none;
  display: flex;
  flex-direction: row; }

.footer__social__icon {
  -webkit-filter: invert(0.75);
  /* safari 6.0 - 9.0 */
  filter: invert(0.75);
  height: 23px;
  display: flex;
  align-items: center; }

.footer__social > li {
  margin-left: 7px; }

.burger {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background: none;
  display: none; }

.burger__icon {
  display: block;
  max-width: 100%;
  height: auto; }

.blog-intro__section {
  background-color: #D5EBF0;
  padding: 26px 0; }

.blog-intro {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .blog-intro h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #08B2DC;
    margin: 0 auto; }

.blog-intro__img {
  height: 45px; }

ul.breadcrumbs {
  margin: 25px 0px 50px;
  padding: 0px;
  font-size: 0px;
  line-height: 0px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top; }
  ul.breadcrumbs li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    border-left: 1px solid #ccc;
    transition: 0.3s ease; }
    ul.breadcrumbs li:hover:before {
      border-left: 10px solid #08B2DC; }
    ul.breadcrumbs li:hover a {
      color: #000;
      background: #08B2DC; }
    ul.breadcrumbs li:before {
      content: "";
      position: absolute;
      right: -9px;
      top: -1px;
      z-index: 20;
      border-left: 10px solid #fff;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      transition: 0.3s ease; }
    ul.breadcrumbs li:after {
      content: "";
      position: absolute;
      right: -10px;
      top: -1px;
      z-index: 10;
      border-left: 10px solid #ccc;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent; }
    ul.breadcrumbs li.active a {
      color: #000;
      background: #08B2DC; }
    ul.breadcrumbs li.first {
      border-left: none; }
      ul.breadcrumbs li.first a {
        font-size: 18px;
        padding-left: 20px;
        border-radius: 5px 0px 0px 5px; }
    ul.breadcrumbs li.last:before {
      display: none; }
    ul.breadcrumbs li.last:after {
      display: none; }
    ul.breadcrumbs li.last a {
      padding-right: 20px;
      border-radius: 0px 40px 40px 0px; }
    ul.breadcrumbs li a {
      display: block;
      font-size: 12px;
      line-height: 40px;
      color: #757575;
      padding: 0px 15px 0px 25px;
      text-decoration: none;
      background: #fff;
      border: 1px solid #ddd;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s ease;
      text-align: center; }

ul.breadcrumbs li.first a img {
  height: 20px;
  display: inline; }

ul.breadcrumbs li.first a {
  display: flex;
  margin: auto;
  height: 40px;
  align-items: center; }

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .blog-card a {
    color: inherit; }
    .blog-card a:hover {
      color: #08B2DC; }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s; }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none; }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 90%;
    font-size: .9rem; }
    .blog-card .details a {
      text-decoration: dotted underline; }
    .blog-card .details ul li {
      display: inline-block; }
    .blog-card .details .author:before {
      margin-right: 10px;
      font-family: FontAwesome;
      content: "\f007"; }
    .blog-card .details .date:before {
      margin-right: 10px;
      content: "\f133"; }
    .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      content: "\f02b";
      margin-right: 10px; }
    .blog-card .details .tags li {
      margin-right: 2px; }
      .blog-card .details .tags li:first-child {
        margin-left: -4px; }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1; }
    .blog-card .description h1,
    .blog-card .description h2 {
      font-family: Poppins, sans-serif; }
    .blog-card .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .blog-card .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #3A535A;
      margin-top: 5px; }
    .blog-card .description .read-more {
      text-align: right; }
      .blog-card .description .read-more a {
        color: #08B2DC;
        display: inline-block;
        position: relative; }
        .blog-card .description .read-more a:after {
          content: "\f061";
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
          font-family: FontAwesome; }
        .blog-card .description .read-more a:hover:after {
          margin-left: 5px;
          opacity: 1; }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0; }
    .blog-card p:first-of-type {
      margin-top: 1.25rem; }
      .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #08B2DC;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px; }
  .blog-card:hover .details {
    left: 0%; }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px; }
      .blog-card .meta {
        flex-basis: 40%;
        height: auto; }
      .blog-card .description {
        flex-basis: 60%; }
        .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .blog-card.alt {
        flex-direction: row-reverse; }
        .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .blog-card.alt .details {
          padding-left: 25px; } }

.sidebar {
  margin-left: 50px;
  display: flex;
  flex-direction: column; }

.sidebar__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.btn-search {
  padding-top: 15px;
  color: #08B2DC;
  text-decoration: none; }
  .btn-search:after {
    content: "\f002";
    margin-left: -10px;
    opacity: 1;
    transition: margin .3s, opacity .3s;
    font-family: FontAwesome;
    font-size: 25px; }

.ml-1 {
  margin-left: 1rem; }

.sidebar__category_list {
  list-style: none; }
  .sidebar__category_list > li {
    margin-bottom: 23px; }
    .sidebar__category_list > li > a {
      color: #676A6A; }

.skill-card {
  padding: 20px;
  width: 15em;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  display: block;
  margin-bottom: 25px; }

.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.skill-card:hover .skill-card__header {
  height: 40px; }

.skill-card:hover .skill-card__header .skill-card__icon {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(3);
  transform: translateX(-50%) translateY(-50%) scale(3); }

.skill-card:hover .skill-card__body {
  height: 170px; }

.skill-card:hover .skill-card__body .skill-card__knowledge li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s; }

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
  transition-delay: 0.25s; }

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
  transition-delay: 0.5s; }

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
  transition-delay: 0.75s; }

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
  transition-delay: 1s; }

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
  transition-delay: 1.25s; }

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
  transition-delay: 1.5s; }

.skill-card .skill-card__header {
  position: relative;
  background-color: #eb6c3f;
  height: 170px;
  margin: -20px -20px 20px -20px;
  transition: height 0.5s;
  overflow: hidden; }

.skill-card .skill-card__header .skill-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 128px;
  height: 128px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.skill-card .skill-card__body {
  height: 40px;
  transition: height 0.5s;
  overflow: hidden; }

.skill-card .skill-card__body .skill-card__title {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase; }

.skill-card .skill-card__body .skill-card__duration {
  color: #9E9E9E;
  font-style: italic; }

.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  color: #424242; }

.skill-card .skill-card__body .skill-card__knowledge li {
  margin-top: 5px;
  transition-duration: 0s;
  transition-delay: 0.5s;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.pager {
  margin: 3.75rem 0 3.75rem;
  font-size: 0;
  text-align: center; }

.pager__item {
  display: inline-block;
  vertical-align: top;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 2px; }

.pager__item.active .pager__link {
  background-color: #08B2DC;
  border-color: #ffb74d;
  color: #fff;
  text-decoration: none; }

.pager__item--prev svg, .pager__item--next svg {
  width: 8px;
  height: 12px; }

.pager__item--next .pager__link svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center; }

.pager__link {
  position: relative;
  border-radius: 4px;
  display: block;
  text-align: center;
  width: 2.625rem;
  height: 2.625rem;
  line-height: 2.625rem;
  margin-left: -1px;
  color: #2f3640;
  text-decoration: none;
  transition: 0.3s; }

.pager__link:hover, .pager__link:focus, .pager__link:active {
  background-color: #08B2DC;
  border-color: #ffb74d;
  color: #fff;
  text-decoration: none; }

.pager__link:hover svg path, .pager__link:focus svg path, .pager__link:active svg path {
  fill: #fff; }

.pager .pager__item.active + .pager__item .pager__link, .pager .pager__item:hover + .pager__item .pager__link {
  border-left-color: #ffb74d; }

@media screen and (max-width: 576px) {
  .pager__item {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .pager__item.active, .pager__item:first-of-type, .pager__item:last-of-type, .pager__item:nth-of-type(2), .pager__item:nth-last-of-type(2) {
    position: initial;
    top: initial;
    left: initial; }

  .pager__item.active + li {
    position: initial;
    top: initial;
    left: initial; } }
.row-blog {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }

.article__header {
  height: 400px;
  background: #8F9CA8 url("../img/articletop-bg.png") repeat local 100% 100%; }

.article__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.article__body {
  margin-top: -70px;
  margin-bottom: 60px;
  background: white;
  padding: 40px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25); }
  .article__body p, .article__body h4 {
    text-indent: 1.5em; }
  .article__body h4 {
    color: #676A6A;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 48px; }

.f-between {
  justify-content: space-between; }

.article__new {
  justify-content: space-between; }

@media (max-width: 565px) {
  .last-works__cards-group {
    justify-content: center; }

  .header nav {
    position: relative;
    width: 100%; }

  .header .header__nav {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem;
    position: absolute;
    top: 100%;
    right: 5px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none; }
    .header .header__nav.show {
      display: flex; }

  .burger {
    display: block; }

  .header .header__nav .header__nav-item {
    margin: 5px 0; }

  .header .header__nav .header__nav-item a:after {
    top: 20px;
    left: 0; }

  .presentation__cards__col-img > img {
    max-width: 100%; }

  .facts .facts__tab {
    flex-direction: column;
    flex-wrap: wrap; }

  .facts .facts__tab .facts__left {
    width: 100%; }

  .facts .facts__tab .facts__right {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px; }

  .facts .facts__tab .facts__right .facts__right-item {
    width: 100%;
    margin-left: 0; }

  .tab {
    flex-wrap: wrap;
    flex-direction: column; }

  .tab button {
    padding: 10px 40px; }

  .tab-last-works button {
    padding: 10px 40px; }

  .circle-progress__card-group {
    justify-content: center; }

  .circle-progress__title {
    font-size: 30px; }

  .tab-last-works {
    flex-wrap: wrap;
    flex-direction: column; }

  .footer__top {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .footer__top > div {
    margin-top: 10px;
    width: 100%; }

  .footer__top > div:first-child {
    margin-left: auto; }

  .footer__list {
    margin-top: 5px; }

  .title_horizontal {
    font-size: 40px;
    line-height: 50px; }

  .pre-title {
    font-size: 20px; }

  .article__new {
    flex-direction: column;
    align-items: center; }

  .article__body {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px; }

  .ml-1 {
    margin-left: 0; } }
@media (max-width: 769px) {
  .container {
    margin: 0 10px; }

  .intro .intro__title {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 100%; }

  .work-proc__right-tab {
    display: none; }

  .work-proc .work-proc__left-tab {
    max-width: 100%; }

  .work-proc .work-proc__btn {
    max-width: 100%; }

  .row-blog {
    flex-direction: column;
    flex-wrap: wrap; }

  .sidebar__item {
    justify-content: center;
    margin-left: 0; }

  .sidebar {
    margin-left: 0; } }
@media (max-width: 991px) {
  .container {
    margin: 0 10px; }

  .header {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  .work-proc__img {
    max-width: 440px; }

  .tabcontent {
    overflow: hidden; }

  .col-60 {
    max-width: 90%;
    margin: 0 auto; }

  .presentation__cards__col-img {
    width: 100%;
    display: flex;
    justify-content: center; }

  .col-60 {
    max-width: 90%;
    margin: 0 auto; }

  .tabcontent {
    overflow: hidden; }

  .circle-progress__card-group {
    flex-wrap: wrap; }

  .contact-me__row {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }

  .contact-me__map {
    height: 26rem;
    width: 100%; }

  .contact-me__row > div {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
